<h1><%= @course.title %></h1>
<p><strong>Term Offered:</strong> <%= @course.term_offered %></p>
<p><strong>Department:</strong> 
  <a href="/departments/<%= @course.department.id %>">
    <%= @course.department.name %>
  </a>
</p>

<h2>Update Course</h2>
<form action="/update_course/<%= @course.id %>" method="post">
  <label for="query_title">Title</label>
  <input type="text" id="query_title" name="query_title" value="<%= @course.title %>">

  <button type="submit">Update course</button>
</form>

<h2>Number of enrolled students <%= @enrolled_students.count %></h2>

<h2>Enrolled Students</h2>
<ul>
  <% @enrolled_students.each do |enrollment| %>
    <li>
      <a href="/students/<%= enrollment.student.id %>">
        <%= enrollment.student.first_name %> <%= enrollment.student.last_name %>
      </a>
    </li>
  <% end %>
</ul>
